<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xky.dao.SubjectDao">
    <select id="selectAllSubject" resultType="Subject">
        select * from subject where available = 1
    </select>
</mapper>